:root {
    //var font size text
    --font-size-default: 17px;
    --font-size-default-hover: calc(var(--font-size-default) + 1px);
    --font-size-btn-text: calc((--font-size-default) + 3px);
  
    //var title size
    --font-size-subtitle: 18px;
    --font-size-title: calc(var(--font-size-subtitle) + 5px);
  
    //var photo size
    --photo-principal: 160px;
    --photo-height-portfolio: 300px;
  
    //var line height size
    --line-height-default: 26px;
  
    //dimensions width and height
    --width-controls: 100%;
    --height-controls: 80px;
  
    // gap value
    --gap-portfolio-list: 20px;
  
    //var colors
    --color-primary: black;
    --color-secondary: white;
    --color-primary-background: white;
    --color-title-bar: rgb(34, 34, 176);
    --color-btn-calc: rgb(34, 34, 176);
    --color-btn-reset: rgb(134, 134, 134);

    //var transitions
    --transition-1: all 0.4s ease-in-out;

    //var pentru container
    --border-size: 2px;

    //var pentru content box
    --padding-size: 10px

    //btn container
    --gap-size: 5px;
}

h1 {
    vertical-align: middle;
    text-align: center;
    font-size: var(--font-size-title);
}